html,
body {
  margin: 0;
  height: 100vh;
  font-family: 'Arvo', 'Sans serif';
  background-color: #D6DBD2;
}

#app {
  display: flex;
  flex-direction: column;
}

#app * {
  align-self: center;
}

#app h1 {
  font-size: 80px;
  margin: 0;
}

#add-joke {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  font-size: 30px;
  border: none;
  background-color: #2C363F;
  box-shadow: 2px 2px 2px #2C363F;
}

#jokes {
  list-style-type: none;
  padding: 10px;
  margin-left: 180px;
  margin-right: 180px;
}

.joke {
  border: 2px solid #2C363F;
  height: 60px;
  text-align: center;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F2F5EA;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #2C363F;
}

.joke p {
  margin: 0;
  flex-grow: 1;
}
